
@{
    ViewBag.Title = "hWorkSecond";
}

<h2>hWorkSecond</h2>
<div>
    <div>Resul = @ViewBag.Result <br /></div>
    <a href="/HomoWorkSecond/hWorkSecond/2/3/multiply">Умножение 2*3</a> <br />
    <a href="/HomoWorkSecond/hWorkSecond/6/2/divided">Деление 6/2</a> <br />
    <a href="/HomoWorkSecond/hWorkSecond/6/6/plus">Добавление 6+6</a> <br />
    <a href="/HomoWorkSecond/hWorkSecond/6/6/minus">Вычетание 6-6</a> <br />
    <a href="/HomoWorkSecond/hWorkSecond/6/6/minuss">Ошибка</a>
</div>

